<nav>
  <ul>
    {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
          {{ item.name }}
        </a>
      </li>
    {% endfor %}
    <li>
      <a href="https://docs.google.com/document/d/1thLqAjj-BYSyU1iCXER2uiUdLH3TE7B45c8Q1hyeDcQ/edit?usp=sharing" {% if page.url == item.link %}class="current"{% endif %}>
        Resume
      </a>
    </li>
    <li>
      <a href="https://github.com/amadorschulze92" {% if page.url == item.link %}class="current"{% endif %}>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
          viewBox="0 0 172 172" style=" fill:#000000;"><g transform=""><g fill="none"
          fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
          stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
          stroke-dashoffset="0"</svg>
      </a>
    </li>
  </ul>
</nav>
