<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    {% include navigation.html %}
    <div class="container">
      {{ content }}
    </div><!-- /.container -->
    <footer>
      <ul>
        <a href="https://icons8.com/icon/12599/github">GitHub icon by Icons8</a>
        <a href="https://icons8.com/icon/81218/mail-contact">Mail Contact icon by Icons8</a>
      </ul>
    </footer>
  </body>
</html>
